<form class="signup-form" action="/user" method="post">
    <p class="hint-text">Fill in this form to create your account!</p>
    <div class="form-group">
        <input type="text" id="username-signup" class="form-control" placeholder="Username" required="required">
    </div>
    <div class="form-group">
        <input type="text" id="email-signup" class="form-control" placeholder="Email" required="required">
    </div>
    <div class="form-group">
        <input type="password" id="password-signup" class="form-control" placeholder="Password" required="required">
    </div>
    <input type="submit" class="btn btn-primary btn-block" value="Sign up">
</form>

<script src="/javascript/login.js"></script>