<form class="signup-form" method="post">
    <p class="hint-text">Fill in this form to create your account!</p>
    <div class="form-group">
        <input type="text" id="username-signup" class="form-control" placeholder="Username" required="required">
    </div>
     <div class="form-group">
         <label>
        <span>Employer</span> <input type="radio" value="employer" name="usertype-signup" id="employer" class="form-control" required="required">
        </label>
        </div>
 <div class="form-group">
        <label>
        <span>Job Seeker</span> <input type="radio" value="jobSeeker" name="usertype-signup" id="job-seeker" class="form-control" required="required">
         </label>
    </div>
    <div>
         <li class="divider "></li>
              <li class="dropdown-submenu dropleft">
                <a href="#">Choose a Skill</a>
                <ul class="dropdown-menu dropleft">
                  <li><a href="#">Skill 1</a></li>
                       <li><a href="#">Skill 1</a></li>
                    	<li><a href="#">Skill 1</a></li>
        <li><a href="#"value="skillId3">Skill 3</a></li>
         </ul>
            
    </div>
    <div class="form-group">
        <input type="text" id="url-signup" class="form-control" placeholder="Employer URL">
    </div>
    <div class="form-group">
        <input type="text" id="email-signup" class="form-control" placeholder="Email" required="required">
    </div>
    <div class="form-group">
        <input type="password" id="password-signup" class="form-control" placeholder="Password" required="required">
    </div>
    <input type="submit" class="btn btn-primary btn-block" value="Sign up">
</form>

<script src="/javascript/login.js"></script>