<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each job as |job|}}
    <li>
      {{> job-info job}}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<section>
  <h2>Your skills</h2>
  <ol>
    {{ user.skill}}
    <li>
      <a href="/dashboard/edit/{{skill.id}}" class="edit-link">Edit Skill</a>
    </li>
  </ol>
</section>