  <div class="container">
    <div class="text-center mt-5">
      <div class="bg-image hover-overlay ripple">
        <img src="public/stylesheets/images/img.png" class="img-fluid" />
        <a href="#!">
          <div class="mask"></div>
        </a>
      </div>

      <header>
        <h1>
          <a href="/">Indubidubly</a>
        </h1>
<ol class="jobs-list">
  {{#each job as |job|}}
<li>
  {{>job-info}}
</li>
   {{/each}}
</ol>