  <div class="container">
    <div class="text-center mt-5">
      <div class="bg-image hover-overlay ripple">
      
       <div class="mask"></div>
        </a>
      </div>

      <header>
        <h1>
          <a href="/">Indubidubly</a>
        </h1>
<ol class="jobs-list">
  {{#each job as |job|}}
<li>
  {{> job-info job}}
</li>
   {{/each}}
</ol>