{{>job-info job}}

<article>
     <div class="employer-info">
      Posted by <a href="{{employer.url}}"> {{employer.username}} </a> 
      Contact them by emailing: <a href="mailto:{{employer.email}}">{{employer.email}}</a>
       </div>
</article>

