{{>job-info job}}

<article class="employer-info">
     <div>
      Posted by <a href="{{employer.url}}"> {{employer.username}} </a> 
      Contact them by emailing: <a href="mailto:{{employer.email}}">{{employer.email}}</a>
       </div>
</article>